.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: transform 0.3s ease;
}

.left-section {
  width: 50%;
  padding-right: 20px;
  margin-left: 200px;
}

.right-section {
  width: 50%;
  text-align: center;
}

.user-info {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.charts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.chart {
  flex: 1;
  margin: 0 10px;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cccccc;
  color: #666;
  font-size: 18px;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #0b0636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
}

th, td {
  border: 1px solid #2b7fecb7;
  padding: 12px 15px;
  text-align: left;
  color: #333;
}

th {
  background-color: #3b5998;
  color: #ffffff;
  font-weight: bold;
}

td {
  background-color: #f8faff;
}

.tabla_usuarios{
  border: solid;
  text-align: center;
  font-size: 45px;
  background-color: #3b5998 ;
  border-color: #3b5998;
  color: white;
}
