<app-menu></app-menu>

<div class="form-container">
  <h2>Crear Usuario</h2>
  <form action="#" method="post">

      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" name="usuario" required>

      <label for="correo">Correo:</label>
      <input type="email" id="correo" name="correo" required>

      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" name="contraseña" required>

      <label for="Confirmar contraseña">Confirmar contraseña:</label>
      <input type="password" id="Confirmar contraseña" name="Confirmar contraseña" required>

      <label for="foto">Sube la foto para tu usuario :</label>
      <input type="file" id="foto" name="foto" accept=".jpg, .jpeg, .png , .img"  >
      <input type="submit" value="Enviar">

      <button type="submit">Crear Usuario</button>

  </form>
</div>
