<div class="sidebar" [class.active]="isActive" [class.collapsed]="isCollapsed">
    <div class="profile">
        <img src="images/logo.png" alt="Profile">
        <h3>Usuario</h3>
    </div>
    <div class="profile-collapsed">
        <img src="images/logo.png" alt="Profile">
    </div>
    <ul>
        <li><a routerLink="/acceso-r"><i class="fa fa-home"></i><span>Inicio</span></a></li>
        <li><a routerLink="/acceso-r"><i class="fa fa-user"></i><span>Perfil</span></a></li>
        <li><a routerLink="/usuarios"><i class="fa-solid fa-users"></i><span>Usuarios</span></a></li>
        <li><a routerLink="/login"><i class="fa fa-sign-out-alt"></i><span>Salir</span></a></li>
    </ul>
</div>
<div class="content">
    <!-- Aquí va el contenido principal -->
</div>
<button class="toggle-btn" (click)="toggleSidebar()">☰</button>
