<div class="top-nav">
    <div class="user-info">
        <span class="user-email">usuarioAriel</span>
        <img [src]="userPhotoUrl" alt="user photo" class="user-photo-nav">
    </div>
</div>

<div class="sidebar" [class.active]="isActive" [class.collapsed]="isCollapsed">
    <div class="profile">
        <img [src]="userPhotoUrl" alt="user photo">
        <h3>Usuario</h3>
    </div>
    <div class="profile-collapsed">
        <img [src]="userPhotoUrl" alt="user photo" class="user-photo-colap">
    </div>
    <ul>
        <li><a routerLink="/acceso-r"><i class="fa fa-home"></i><span>Inicio</span></a></li>
        <li><a routerLink="/acceso-r"><i class="fa fa-user"></i><span>Perfil</span></a></li>
        <li><a routerLink="/usuarios"><i class="fa-solid fa-users"></i><span>Usuarios</span></a></li>
        <li><a routerLink="/login"><i class="fa fa-sign-out-alt"></i><span>Salir</span></a></li>
    </ul>
</div>
<div class="content">
    <!-- Aquí va el contenido principal -->
</div>
<button class="toggle-btn" (click)="toggleSidebar()">☰</button>
