.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #212121;
    color: #ffc107;
    transition: width 0.3s ease;
}

.sidebar.active {
    width: 0; /* Ajusta el tamaño según tus necesidades */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.sidebar.collapsed {
    width: 80px; /* Ajusta el ancho según tus necesidades */
}

.sidebar .profile {
    text-align: center;
    padding: 20px;
    margin-top: 30%;
}

.sidebar .profile img {
    width: 100px;
    border-radius: 50%;
}

.sidebar .profile-collapsed {
    display: none;
}

.sidebar.collapsed .profile {
    display: none; /* Oculta el perfil completo en la vista colapsada */
}

.sidebar.collapsed .profile-collapsed {
    display: block;
    text-align: center;
    padding: 10px;
}

.sidebar.collapsed .profile-collapsed img {
    width: 50px; /* Ajusta el tamaño del perfil colapsado */
    border-radius: 50%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: #ffc107;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li a span {
    display: inline-block;
    margin-left: 10px;
}

.sidebar.collapsed ul li a span {
    display: none; /* Oculta el texto del ícono en la vista colapsada */
}

.sidebar.collapsed ul li a i {
    margin-left: 0; /* Ajusta el margen del ícono si es necesario */
}

.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.toggle-btn {
    position: fixed;
    top: 0px;
    left: 250px; /* Ajuste para que el botón esté al lado de la barra */
    background: #212121;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.3s ease; /* Para que el botón se mueva con la barra */
}

.sidebar.active ~ .toggle-btn {
    left: 20px; /* Cuando la barra esté oculta, el botón se moverá a la izquierda */
}

.sidebar.collapsed ~ .toggle-btn {
    left: 80px; /* Ajusta según el ancho de la barra colapsada */
}

.sidebar.active ~ .content {
    margin-left: 0;
}

.sidebar.collapsed ~ .content {
    margin-left: 80px; /* Ajusta según el ancho de la barra colapsada */
}
