.usuarios-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 250px;
    width: calc(90% - 220px);
    height: 90%;
    position: fixed;
    transition: left 0.3 ease;
    z-index: 1000;
    overflow-y: auto;
    margin-left: 5%;
    top: 10%
}

.usuarios-container.active{
    left: 10%;
}

.sidebar.active ~ .usuarios-container{
    margin-left: 200px;
    width: 95%;
}

.usuario-row{
    transition: background-color 0.3s ease;
}

.usuario-row:hover{
    background-color: rgba(255, 193, 7, 0.3);
    cursor: pointer;
}

h2 {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.filter-section {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.filter-btn {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-section {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.search-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.search-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-section {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #ffc107;
    z-index: 10;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.data-summary {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.data-summary p {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.action-buttons button {
    padding: 10px 20px;
    background-color: #212121;
    color: #ffc107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-buttons button:hover{
    background-color: #ffc107;
    color: black;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.country-flag {
    width: 30px;
    height: 20px;
    object-fit: cover;
}

table img {
    border-radius: 50%; /* Hace que las fotos sean redondas */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
    border: 1px solid #ddd; /* Un pequeño borde */
  }
  
/* usuarios.component.css */

/* Contenedor de la lista de sugerencias */
.suggestions-container {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura */
    width:18%; /* Ancho del contenedor igual al del input */
    z-index: 1000; /* Asegura que la lista esté por encima de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado para dar profundidad */
  }
  
  /* Elementos individuales de la lista de sugerencias */
  .suggestion-item {
    padding: 8px;
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el elemento */
  }
  
  /* Estilo para el elemento de la lista al pasar el cursor sobre él */
  .suggestion-item:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el cursor */
  }
  
  /* Ajustes para limitar el número de elementos visibles */
  .suggestions-container::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
  
  /* Asegura que no se muestren más de 5 sugerencias */
  .suggestions-container .suggestion-item:nth-of-type(n+6) {
    display: none;
  }
  