<!-- usuarios.component.html -->
<app-menu (ActiveChanged)="onSidebarCollapseChanged($event)"></app-menu>

<div [class.active]="isSidebarCollapsed" class="usuarios-container">
    <h2>USUARIOS MOYCUP</h2>

    <div class="search-section">
        <!-- Input de nombre -->
        <div class="input-container">
            <input type="text" placeholder="Buscar por nombre..." [formControl]="nombreFiltro" (focus)="onNombreInput()">
            <div *ngIf="showNombreList && nombreSuggestions.length > 0" class="suggestions-container"></div>
        </div>

        <!-- Input de país -->
        <div class="input-container">
            <input type="text" placeholder="Buscar por país..." [formControl]="paisFiltro" (focus)="onPaisInput()">
            <div *ngIf="showPaisList && paisSuggestions.length > 0" class="suggestions-container">
            </div>
        </div>

        <!-- Input de apodo -->
        <div class="input-container">
            <input type="text" placeholder="Buscar por apodo..." [formControl]="apodoFiltro" (focus)="onApodoInput()">
            <div *ngIf="showApodoList && apodoSuggestions.length > 0" class="suggestions-container">
            </div>
        </div>
    </div>

    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>foto</th>
                    <th>Nombre</th>
                    <th>Apodo</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Edad</th>
                    <th>Pais</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí van las filas con los datos de los usuarios -->
                <tr *ngFor="let usuario of filteredUsuarios">
                    <td>
                        <img *ngIf="usuario.imguser" [src]="usuario.imguser" alt="Foto de {{usuario.name}}" width="50" height="50">
                    </td>
                    <td>{{usuario.name}}</td>
                    <td>{{ usuario.nickname }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.phone }}</td>
                    <td>{{ usuario.age }}</td>
                    <td>{{ usuario.country }}</td>
                    <td>{{ usuario.sex }}</td>
                </tr>
                <!-- Más filas... -->
            </tbody>
        </table>
    </div>

    <div class="data-summary">
        <p>Total de registros: {{TotalRegistros}}</p>
        <p>Total de hombres: {{TotalHombres}}</p>
        <p>Total de mujeres: {{TotalMujeres}}</p>
        <!-- Otros datos -->
    </div>

    <div class="action-buttons">
        <button routerLink="/analytics">Analisis</button>
        <button routerLink="/balance">Acción 2</button>
        <button routerLink="/finanzas">Acción 3</button>
        <button>Acción 4</button>
    </div>
</div>
